@mixin button-cursor {
  cursor: pointer;
  user-select: none;
}

@mixin center-flex($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
