// color
$black: #000000;
$white: #ffffff;
$gray: #c4c4c4;

// $pale-red: #df6161;
$pale-red: #f45a5a;
$bright-red: #ea253f;
$orangeish-red: #e25c32;

$excellent: #479d1e;
$good: #e5c847; // #dcc679;
$poor: #dd5656; // #e28787
$not-learned: #a1a1a1;

// font-size
$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-large: 1.8rem;

// transition
$transition-all: all 0.1s;
